<div fxLayout='column' fxFlex="100" >
  <!-- <div fxLayout='row' fxFlex="100" fxLayoutAlign=" start ">
    value: {{stepThreeForm.value | json}} <br>
    status: {{stepThreeForm.status | json}} <br>
    errors: {{stepThreeForm.errors | json}} <br>
  </div> -->
  <div fxLayout='row' fxFlex="100" fxLayoutAlign=" center ">
        <mat-card fxLayout='column' fxFlex="100">
          <mat-card-header fxFlex="100">
            <mat-card-title> Language form </mat-card-title>
          </mat-card-header>
          <mat-card-content fxFlex="100" fxLayoutAlign="start center ">
              <div fxFlex="100" fxLayout='column'>
                  <form #langForm="ngForm" [formGroup]="stepThreeForm" fxLayout='column'>
                    <div >
                      <mat-input-container fxFlex="75"  fxFlex.lt-sm="100">
                        <input matInput class="" placeholder="Notes" name="notes" id="notes" type="text" required formControlName="notes" >
                          <mat-hint>
                            Notes
                          </mat-hint>
                      </mat-input-container>
                      <div *ngIf="notes.invalid && (notes.dirty || notes.touched)"
                          class="alert alert-danger">
                          <div *ngIf="notes.errors.required">
                              Address is required.
                          </div>
                      </div>
                    </div>
                  </form>
                </div>
          </mat-card-content>
        </mat-card>
      </div>
</div>
