<div fxLayout='column' fxFlex="100" >
    <!-- <div fxLayout='row' fxFlex="100" fxLayoutAlign=" start ">
      value: {{stepOneForm.value | json}} <br>
      status: {{stepOneForm.status | json}} <br>
      errors: {{stepOneForm.errors | json}} <br>
      getFormStatus() {{getFormStatus()}}
    </div> -->
    <div fxLayout='row' fxFlex="100" fxLayoutAlign=" center ">
          <mat-card fxLayout='column' fxFlex="100">
            <mat-card-header fxFlex="100">
              <mat-card-title> Language form </mat-card-title>
            </mat-card-header>
            <mat-card-content fxFlex="100" fxLayoutAlign="start center ">
                <div fxFlex="100" fxLayout='column'>
                    <form #langForm="ngForm" [formGroup]="stepOneForm" fxLayout='column'>
                      <div >
                        <mat-input-container fxFlex="75"  fxFlex.lt-sm="100">
                          <input matInput class="" placeholder="Name" name="name" id="name" type="text" required
                            formControlName="name" >
                            <mat-hint>
                              Name
                            </mat-hint>
                        </mat-input-container>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                            class="alert alert-danger">
                            <div *ngIf="name.errors.required">
                              Name is required.
                            </div>
                        </div>
                      </div>
                      <div>
                        <mat-input-container fxFlex="75"  fxFlex.lt-sm="100">
                          <input matInput class="" placeholder="Last Name" name="last_name" id="last_name" type="text" required
                            formControlName="last_name" >
                            <mat-hint>
                                Last Name
                              </mat-hint>
                        </mat-input-container>
                        <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
                        class="alert alert-danger">
                            <div *ngIf="last_name.errors.required">
                              last_name is required.
                            </div>
                        </div>
                      </div>
                    </form>
                  </div>
            </mat-card-content>
          </mat-card>
        </div>
  </div>
