<div fxLayout='column' fxFlex="100" >
  <div fxLayout='row' fxFlex="100" fxLayoutAlign=" start ">
    value: {{kabbageForm.value | json}} <br>
    status: {{kabbageForm.status | json}} <br>
    errors: {{kabbageForm.errors | json}} <br>
  </div>
  <div fxLayout='row' fxLayoutAlign=" center " fxLayoutGap='5%'>
        <mat-card  fxFlex="20" fxFlex.lt-sm="100">
          <mat-card-header fxFlex="100">
            <mat-card-title> Kabbage form </mat-card-title>
          </mat-card-header>
          <mat-card-content fxFlex="100" fxFlexAlign="center center ">
              <div fxLayout='row'>
                  <form  [formGroup]="kabbageForm" (ngSubmit)="getCuotas()" novalidate>
                    <div >
                      <mat-slider #sliderKabbage [value]="sliderValue" (input)="sliderValue = sliderKabbage.value " max="10000" min="1000" thumb-label="true" tick-interval="100" step="500" color="primary"></mat-slider>
                      <mat-input-container fxFlex="75"  fxFlex.lt-sm="100" >
                        <input matInput class="" placeholder="Desembolso" name="desembolso" id="desembolso" type="number" required [(ngModel)]="sliderValue"
                          formControlName="desembolso" >
                          <mat-hint>
                            Name
                          </mat-hint>
                          <div *ngIf="desembolso.invalid && (desembolso.dirty || desembolso.touched)"
                              class="alert alert-danger">
                              <div *ngIf="desembolso.errors.required">
                                Name is required.
                              </div>
                          </div>
                      </mat-input-container>
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-select formControlName="nroCuotas" placeholder="Cuotas">
                          <mat-option #select  *ngFor="let qCuota of quantityCuotas"  [value]="qCuota">
                            {{ qCuota }} Cuota
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                          
                      <!-- <mat-input-container fxFlex="75"  fxFlex.lt-sm="100">
                        <input matInput class="" placeholder="Nro Cuotas" name="nroCuotas" id="nroCuotas" type="text" required [(ngModel)]="selectedValue"
                          formControlName="nroCuotas" >
                          <mat-hint>
                            Name
                          </mat-hint>
                          <div *ngIf="nroCuotas.invalid && (nroCuotas.dirty || nroCuotas.touched)"
                              class="alert alert-danger">
                              <div *ngIf="nroCuotas.errors.required">
                                Name is required.
                              </div>
                          </div>
                      </mat-input-container> -->
                    </div>
                    <div >
                      <mat-input-container fxFlex="75"  fxFlex.lt-sm="100">
                        <input matInput class="" placeholder="Primera Comision" name="primeraComision" id="primeraComision" type="number" required [(ngModel)]="firstComission"
                          formControlName="primeraComision" >
                          <mat-hint>
                            Name
                          </mat-hint>
                          <div *ngIf="primeraComision.invalid && (primeraComision.dirty || primeraComision.touched)"
                              class="alert alert-danger">
                              <div *ngIf="primeraComision.errors.required">
                                Name is required.
                              </div>
                          </div>
                      </mat-input-container>
                    </div>
                    <div >
                      <mat-input-container fxFlex="75"  fxFlex.lt-sm="100">
                        <input matInput class="" placeholder="Ultima Comision" name="ultimaComision" id="ultimaComision" type="number" required [(ngModel)]="lastComission"
                          formControlName="ultimaComision" >
                          <mat-hint>
                            Name
                          </mat-hint>
                          <div *ngIf="ultimaComision.invalid && (ultimaComision.dirty || ultimaComision.touched)"
                              class="alert alert-danger">
                              <div *ngIf="ultimaComision.errors.required">
                                Name is required.
                              </div>
                          </div>
                      </mat-input-container>
                    </div>
                    <div fxFlex="100">
                      <button [disabled]="kabbageForm.invalid" (click)="true" mat-raised-button color="primary">
                        Obtener Cuotas
                      </button>
                    </div>
                  </form>
                </div>
          </mat-card-content>
        </mat-card>
        <mat-card  fxFlex="40" fxFlex.lt-sm="100">
          <mat-card-header fxFlex="100">
            <mat-card-title> Tabla Kabbage Recalculo </mat-card-title>
          </mat-card-header>
          <mat-card-content fxFlex="100" fxFlexAlign="center center ">
              <table *ngIf="cuotas">
                  <tr>
                    <th>Nro</th>
                    <th>Saldo Capital</th>
                    <th>Monto</th>
                    <th>Seguro Desgravamen</th>
                    <th>Comisión</th>
                    <th>Cuota</th>
                  </tr>
                  <tr *ngFor="let cuota of cuotas.body">
                    <td fxFlexAlign="center">{{cuota.numeroCuota}} </td>
                    <td fxFlexAlign="center">{{cuota.saldoCapital}} </td>
                    <td fxFlexAlign="center">{{cuota.amortizacion}} </td>
                    <td fxFlexAlign="center">{{cuota.seguro}} </td>
                    <td fxFlexAlign="center">{{cuota.comision}} </td>
                    <td fxFlexAlign="center">{{cuota.montoCuota}} </td>
                  </tr>
                </table>
          </mat-card-content>
        </mat-card>
      </div>
</div>

