<div>
  <h2 mat-dialog-title>  {{ data.title }} </h2>
  <mat-dialog-content>
      <!-- <img *ngIf="data.icon" src="/assets/{{data.icon}}.svg" width="150px"/>  -->
      <p>
        {{ data.body }}
      </p> 
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onAction('OK')" color="primary"> {{ data.buttons.ok }}</button>
    <button mat-raised-button (click)="onAction('CANCEL')" color="warn" *ngIf="data.info">{{ data.buttons.cancel }}</button>
  </mat-dialog-actions>
</div>