<div fxLayout='column' fxFlex="100" >
    <!-- <div fxLayout='row' fxFlex="100" fxLayoutAlign=" start ">
      value: {{stepTwoForm.value | json}} <br>
      status: {{stepTwoForm.status | json}} <br>
      errors: {{stepTwoForm.errors | json}} <br>
      getFormStatus() {{getFormStatus()}}
    </div> -->
    <div fxLayout='row' fxFlex="100" fxLayoutAlign=" center ">
          <mat-card fxLayout='column' fxFlex="100">
            <mat-card-header fxFlex="100">
              <mat-card-title> Language form </mat-card-title>
            </mat-card-header>
            <mat-card-content fxFlex="100" fxLayoutAlign="start center ">
                <div fxFlex="100" fxLayout='column'>
                    <form #langForm="ngForm" [formGroup]="stepTwoForm" fxLayout='column'>
                      <div >
                        <mat-input-container fxFlex="75"  fxFlex.lt-sm="100">
                          <input matInput class="" placeholder="Address" name="address" id="address" type="text" required formControlName="address" >
                            <mat-hint>
                              Address
                            </mat-hint>
                        </mat-input-container>
                        <div *ngIf="address.invalid && (address.dirty || address.touched)"
                            class="alert alert-danger">
                            <div *ngIf="address.errors.required">
                                Address is required.
                            </div>
                        </div>
                      </div>
                      <div>
                        <mat-input-container fxFlex="75"  fxFlex.lt-sm="100">
                          <input matInput class="" placeholder="Mobile" name="mobile" id="mobile" type="text" required formControlName="mobile" >
                            <mat-hint>
                                Mobile
                              </mat-hint>
                        </mat-input-container>
                        <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
                        class="alert alert-danger">
                            <div *ngIf="mobile.errors.required">
                              mobile is required.
                            </div>
                        </div>
                      </div>
                    </form>
                  </div>
            </mat-card-content>
          </mat-card>
        </div>
  </div>
