<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" fxFlex="100"> 
  <mat-toolbar>
    <span>Demo</span>
    
    <button mat-button color="primary" (click)="goTo('wizard')" >Wizard</button>
    
    <button mat-button color="warn" (click)="goTo('kabbage')" >Kabbage demo</button>
    
  </mat-toolbar>

  <div style="text-align:center">
    <h1>
      Welcome to the {{title}}!
    </h1>
  </div>

<!--   <app-wizard-flow fxLayout="row" fxFlex="100" fxLayoutAlign="center center"></app-wizard-flow> -->

  <router-outlet></router-outlet>
  
</div>