<div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
  <!-- {{stepsCollection.data.title}} -->
  <ol>
    <li [class.current]="step.data.isCurrent" *ngFor="let step of stepsCollection"></li>
  </ol>
</div>