$number-of-steps:  4;

$line-width:       2px;
$bullet-size:      2em;

$background-color: white;
$foreground-color: #555;

$active-background-color: #00FF00;
$active-foreground-color: black;

/* body {
  font-family: monospace;
  background-color: $background-color;
  margin: 2em 1em;
} */

ol {
  background-color: white;
  position: relative;
  overflow: hidden;
  counter-reset: wizard; 
  list-style: none; 
  width: 400px;
}

li {
  position: relative;
  float: left;
  width: 100% / $number-of-steps;
  text-align: center;
  color: $active-background-color;
}

.current ~ li {
  color: $foreground-color;
}

li:before {
  counter-increment: wizard;
  content: counter(wizard);
  display: block;
  color: $active-foreground-color;
  background-color: $active-background-color;
  border: $line-width solid $active-background-color;
  text-align: center;
  width: $bullet-size;
  height: $bullet-size;
  line-height: $bullet-size;
  border-radius: $bullet-size;
  position: relative;
  left: 50%;
  margin-bottom: $bullet-size / 2;
  margin-left: $bullet-size * -0.5;
  z-index: 1;
  
  .current ~ & {
    background-color: $background-color;
    color: $foreground-color;
    border-color: $foreground-color;
  }
}

li + li {
  &:after{
    content: "";
    display: block;
    width: 100%;
    background-color: $active-background-color;
    height: $line-width;
    position: absolute;
    left: -50%;
    top: $bullet-size / 2;
    z-index: 0;
  }
}

.current ~ li:after {
    background-color: $foreground-color;
}