

<div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
    
    <button class="CancelButton" mat-raised-button color="warn" fxFlex="30" *ngIf="checkInitialStep(); else elseBackward" (click)="cancelWizard()">Cancel</button>
      <ng-template #elseBackward>
        <button class="BackButton" mat-raised-button color="primary" fxFlex="30" [disabled]="checkBackButton()" (click)="goBack()">goBack</button>
      </ng-template>
      
    <button class="FinishButton" mat-raised-button color="accent" fxFlex="30" [disabled]="checkFormValidation()" *ngIf="checkFinalStep(); else elseFoward" (click)="finishWizard()">Finish</button>
      <ng-template #elseFoward>
        <button class="FowardButton" mat-raised-button color="primary" fxFlex="30" [disabled]="checkFowardButton()" (click)="goFoward()" >goFoward</button>
      </ng-template>
  
  </div>