
<!-- currentFormValid: {{ currentFormValid }} -->
<div fxFlex="100" fxLayout="column" fxLayoutAlign="center center"> 
  <div fxFlex="100"> {{ allFormsData | json}} </div>

  <step-indicator [childIndicator]="stepIndicator" fxFlex="100" fxLayout="row" > </step-indicator>
  
  <ng-template class="wizard-steps" wizard-steps > </ng-template>
  
  <app-navigator (childNewPosition)="newComponent($event)" [childCurrentFormValid]="currentFormValid" fxFlex="100" fxLayout="row" fxLayoutAlign="start center" > </app-navigator>
</div>
